.my-center{
    margin:0 auto;
}
.border{border:1px solid white}

.mw-100{
    max-width: 100%;
}
.mw-50{
    max-width:50%
}
/*my align center*/
.ma-center{
    margin:0 auto
}
.mw-120{
    width:120pt;
}
.mw-80{
    width:80%
}
.mw-24{
    width:20.5%
}
.inline-block{
    display:inline-block;
}
.mb-10{
    border-radius: 10pt;
}
.mt-50{
    margin-top:50pt
}
.mr-6{
    margin-right:6.2%;
}
.mlt-3{
    margin-left:3%
}
.mlt-3 div.row:last-child{
    margin-right:0
}

.filter{
    margin-top:40pt;
    margin-bottom:40pt;

}
.filter input[type="date"],
.filter input[type="time"]
{
    outline: 0;
    background: rgba(82, 42, 179,.3);
    height: 20pt;
    border-bottom:1px solid rgb(43, 19, 102);
}
input:focus {
    border-color: green;
    outline: 1px dotted #000
}
.filter form{
    padding-top: 9pt;
    display: block;
    position: relative;
    margin-left: 4%;
    height:20pt
}
.filter form button{
    color:#ead8f9;
    margin-left: 15pt;
    font-size: .9em;
    text-decoration: underline;
}
.filter-options h3{
    color:#ead8f9
}
.filter-options ul li{
    display:inline-block;
    padding-right:2pt
}
.filter-options span{
    font-size: .8em;
    font-style: italic;
    color:#dbbdf4;
}
.filter-options .options
{
    display:inline-block
}
.filter-options {float:left}
.filter-options .option-two{
    margin-left:20pt
}

/* Styles for the dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    background:none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    margin-top: 1pt;
    padding-bottom: 10pt;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #8edaff;
    min-width: 160px;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 1;
}

/* Styles for checkboxes */
.checkbox {
    margin-right: 10px;
}

/* Show the dropdown when clicked */
.show {
    display: block;
}


.add-service .form-group{
    margin-top:15pt
}
.mt-20
{
    margin-top:20pt
}
.pt-8
{
    padding-top:4pt
}
.error-text{
    color:#bd2130;
}
ul li.active{
    color:whitesmoke;
}

.empty-message{
    color: #C092FD;
    font-size: 16pt;
    text-align: center;
    margin-top: 100pt;
}

.light-purple-100
{
    color: #ead8f9;
}
.my-15{
    margin-bottom: 15pt;
}
.mb-40{
    margin-bottom: 40pt;
}
.pt-9{
    padding-top:9pt
}
.pl-15
{
    padding-left:15pt
}
.decoration-solid
{
    text-decoration: underline;
}
.appointment-form button{
    background-color: #FCFDFF;
    border: none;
    border-radius: 20px;
    width: 160pt;
    color: #2E99E7;
    height: 35pt;
    margin-top:30pt
}
.appointment-form button:hover
{
    background-color:#2CEBBE;
    color:#fff;
    -webkit-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
    cursor: pointer;
}
.normal
{
    font-style: normal;
}
.my-package table,
.my-package table th,
.my-package table tr,
.my-package table td
{
    border:1px solid #090808
}
