.my-center{
    margin:0 auto;
}
.border{border:1px solid white}

.mw-50{
    max-width:50%
}
/*my align center*/
.ma-center{
    margin:0 auto
}
.mw-120{
    width:120pt;
}
.mw-80{
    width:80%
}
.mb-10{
    border-radius: 10pt;
}
.mt-50{
    margin-top:50pt
}

.filter{
    margin-top:40pt;
    margin-bottom:40pt;

}
.filter input[type="date"],
.filter input[type="time"]
{
    outline: 0;
    background: rgba(82, 42, 179,.3);
    height: 20pt;
    border-bottom:1px solid rgb(43, 19, 102);
}
input:focus {
    border-color: green;
    outline: 1px dotted #000
}
.filter form{
    padding-top: 9pt;
    display: block;
    position: relative;
    margin-left: 4%;
    height:20pt
}
.filter form button{
    color:#ead8f9;
    margin-left: 15pt;
    font-size: .9em;
    text-decoration: underline;
}
.filter-options h3{
    color:#ead8f9
}
.filter-options ul li{
    display:inline-block;
    padding-right:2pt
}
.filter-options span{
    font-size: .8em;
    font-style: italic;
    color:#dbbdf4;
}
.filter-options .options
{
    display:inline-block
}
.filter-options {float:left}
.filter-options .option-two{
    margin-left:20pt
}

/* Styles for the dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    background:none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    margin-top: 1pt;
    padding-bottom: 10pt;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #8edaff;
    min-width: 160px;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 1;
}

/* Styles for checkboxes */
.checkbox {
    margin-right: 10px;
}

/* Show the dropdown when clicked */
.show {
    display: block;
}

