.my-center{
    margin:0 auto;
}
.border{border:1px solid white}

.mw-50{
    max-width:50%
}
/*my align center*/
.ma-center{
    margin:0 auto
}
.mw-120{
    width:120pt;
}

/* Styles for the dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    background:none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    margin-top: 1pt;
    padding-bottom: 10pt;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #8edaff;
    min-width: 160px;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 1;
}

/* Styles for checkboxes */
.checkbox {
    margin-right: 10px;
}

/* Show the dropdown when clicked */
.show {
    display: block;
}
.filter{
    color:#a4a0a0
}
